html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f4f4f4
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[class*=tracking-status-] p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center
}

[class*=tracking-status-] {
  padding: 1.6rem 0
}

.page-container {
  background: #f4f4f4;

}

.period-container {
  min-width: 100%;
}

.period-header {
  cursor:pointer;
}

.title-tracking:hover {
  opacity:0.5
}

.shadow-initial {
  border: 2px solid #919F89;
}

.shadow-intermediary {
  border: 2px solid #CDDAD8;
}

.shadow-actual {
  border: 2px solid #98A7AC;
}

.tracking-status-initial {
  background-color: #919F89;
}

.tracking-status-intermediary {
  background-color: #CDDAD8;
}

.tracking-status-actual {
  background-color: #98A7AC;
}

.tracking-item {
  border-left: 1px solid #e5e5e5;
  position: relative;
  padding: 2rem 1.5rem .5rem 2.5rem;
  font-size: .9rem;
  cursor: pointer;
  margin-left: 3rem;
  min-height: 5rem
}

.tracking-item:last-child {
  padding-bottom: 4rem
}

.tracking-item .tracking-content {
  padding: .5rem .8rem;
  background-color: #f4f4f4;
  border-radius: .5rem
}

.tracking-item .tracking-content span {
  display: block;
  color: #888;
  font-size: 85%
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #e5e5e5;
  color: #fff
}

.tracking-item .tracking-icon.status-intransit {
  color: #000;
  border: 1px solid #e5e5e5;
  font-size: .6rem
}

@media(min-width:992px) {
  .tracking-item {
    margin-left: 3rem
  }

  .period-container {
    min-width: 75%!important;
  }

  .tracking-item .tracking-content {
    padding: 0;
    padding-top: 0.5rem;
    font-weight: bold;
    background-color: transparent
  }
}